.title{
    text-shadow:0.1em 0.1em 0.2em #000;
    font-weight:bold;color:#fff;
}
.title:hover{
    color:#000;
}

h3{ border-bottom:#FFF 1px solid; width:100%;overflow:hidden; font-size:14px; margin:0 0 10px; font-family:"微软雅黑"; display:block; clear:both}

h3 p{ background:#474645; width:180px; height:25px; margin:15px 0 0 10px; line-height:25px; color:#fff; text-align:center; box-shadow: #999 4px 5px 1px;}

h3 p span{ color:#fd5daa}

h3:nth-child(2n) p span{ color:#38b3d4}

.topimg{ margin-left:10px; clear:left; float:left}

.topblog{ border:#dddddd 1px solid; border-left:0; border-bottom:0; line-height:26px; float:right; width:55%; margin-right:5px;overflow:hidden;}

.topblog li{  text-align:center; border-bottom:#dddddd 1px solid; border-top:#FFF 1px solid; font-family:"微软雅黑"}

.topblog li span{ display:block; font-size:12px; color:#999999; font-weight:normal}

.topblog li a{ color:#ef7000; font-size:20px; font-weight:bold; display:block; height:52px;padding:7px 0;}

.topblog li a:hover{ background: rgba(255,255,255,0.5); color:#000;text-shadow:0.1em 0.1em 0.1em #999;}

.template { padding: 0 0 0 20px ; overflow: hidden; margin: 0 5px}

.template li{ margin:11px; float:left;}

.template li img{ width:142px; height:80px; background:#FFF; padding:4px;  box-shadow:0px 0px 2px rgba(0,0,0,.5); display:block;transition:All 1s ease;-webkit-transition:All 1s ease;-moz-transition:All 1s ease;-o-transition:All 1s ease;}

.template li img:hover{ opacity:0.5}

.tags section{ width:330px; float:left; font-family:"微软雅黑"; margin:15px 20px;display:inline}

.tags h2{ color:#333; font-size:18px; border-bottom:#b4b1af 2px solid;line-height:40px; height:40px; }

.tags h2 a{ float:right; width:20px; height:30px}

.tags h2 span{color:#b41828;}

.tags ul{ margin:10px; border-bottom:#bebdbb 1px dashed; overflow:hidden; padding:10px 0 20px 0 }

.tags ul li{color:#FFF; display:inline; line-height:30px; height:30px}

.tags ul li a{ color:#575654;padding:3px 6px;  }

.tags ul li a:hover{ color: #F00; text-decoration:underline}

.tags section:nth-child(1) ul li:nth-child(1) a{background:#f11139;color:#FFF}

.tags section:nth-child(2) ul li:nth-child(1) a{background:#00b6e5;color:#FFF}

/* bloglist index */
.work{width: 745; height: 50px;}
.work p{margin-left: 50px; font-size: 30px; line-height: 50px; color: #000;}
.bloglist{ width:745px; height:400px; position:relative; margin:0 auto; overflow:hidden;}
.bloglist ul{ position:absolute; left:0; top:0;}
.bloglist ul li{ float:left; width:745px; height:300px;}
.bloglist ul li img{width:745px; height:400px;}

.bloglist a{ transition:.2s all ease;}
.bloglist .prev,.bloglist .next{position:absolute;  top:50%; z-index:2; height:80px; height:80px; line-height:80px; background:rgba(0,0,0,0.6); color:#fff; width:80px; text-align:center; margin-top:-40px; display:none; font-size: 50px;}
.bloglist .prev{ left:0;}
.bloglist .next{ right:0;}
.bloglist a:hover{ background:rgba(255,0,0,0.4);}

.bloglist ol{ position:absolute; width:120px; left:50%; margin-left:-60px; bottom:10px;}
.bloglist ol li{ width:20px; height:20px; background:#f60; float:left; margin:2px; text-align:center; text-indent:-9999px; border-radius:50%;}
.bloglist ol li.active{ background:#fff;}

.tate li{width: 745px; height: 200px; margin: 10px;}
.tate p{font-size: 20px; color:red;}
.tate img{width: 200px; height:200px;}
.tate .works_0 img{float:left;}
.tate .works_0 h2{padding: 30px 0 0 50px;overflow: hidden; }
.tate .works_0 p{padding:20px 80px; overflow: hidden;}
.tate .works_1 img{float:left;}
.tate .works_1 h2{padding: 30px 0 0 50px;overflow: hidden; }
.tate .works_1 p{padding:20px 80px; overflow: hidden;}

.tate .works_2 img{float:left;}
.tate .works_2 h2{padding: 30px 0 0 50px;overflow: hidden; }
.tate .works_2 p{padding:20px 80px; overflow: hidden;}

.readmore a{ color:#e84545;}

.readmore a:hover{ color:#333}

.dateview{ background:#f6f6f6 line-height:24px; height:24px; color:#838383; margin:0 10px}

.dateview a{color:#838383;}

.dateview a:hover{ color:#333;}

.dateview span{ margin:0 10px}

/* Side Right */

aside nav{ height:150px;overflow: hidden;}

aside nav ul{ list-style-type:none; text-align:center;}

aside nav ul li{ float:left; width:90px; line-height:74px; height:74px; margin-right:2px;margin-bottom: 2px;}

aside nav ul li a{ display:block; color:#FFF;transition:All 1s ease;-webkit-transition:All 1s ease;-moz-transition:All 1s ease;-o-transition:All 1s ease;}

aside nav ul li a:hover{ background:rgba(255,255,255,0.2);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg)}

aside nav ul li:nth-child(1){ background:#71a532;}

aside nav ul li:nth-child(2){ background:#ff9900}

aside nav ul li:nth-child(3){ background:#8c49ad}

aside nav ul li:nth-child(4){ background:#e7769e}

aside nav ul li:nth-child(5){ background:#a98659}

aside nav ul li:nth-child(6){ background:#63a8e8}

.slider {overflow:hidden;padding:40px 20px; line-height:25px;background:#f16e50;margin:10px 0 ;}

.slider a{color: #FFF; }

.slider a:hover{ color: #FFC}

.vcard img{ float:left; clear:right; margin-right:5px}

.vcard p{ line-height:25px}

.newbolg{ margin:10px 0 0 0;float: right;}

.newbolg h2{color: #FFF;background:#f16e50; line-height:36px; font-size:12px; font-weight:normal; padding:0 0 0 15px;height:36px;width: 261px;}

.newbolg h2 a{ color:#FFF}

.rank{ list-style-type:none; margin-bottom:20px}

.rank li.nh1 i, .rank li.nh2 i, .rank li.nh3 i { width: 41px;height: 42px; display: block; float: left; margin: 0 10px 0 0;}

.rank li.nh1, .rank li.nh2, .rank li.nh3 { height: 42px;line-height: 42px;margin: 1px 0;overflow: hidden;}

.rank li { height: 25px;line-height: 25px;vertical-align: bottom;clear: both;padding-left: 5px;overflow: hidden;}

.rank li a{ color:#333;}

.rank li a:hover{ color: #F00; text-decoration:underline}

.rank li.nh1 i { background-position: 0 -42px;}

.rank li.nh2 i { background-position: -42px -42px;}

.rank li.nh3 i { background-position: -84px -42px;}

.rank li i { width: 15px; height: 13px; display: block; float: left; margin: 6px 5px 0 0;}

.rank li.n4 i { background-position: -133px -62px;}

.rank li.n5 i { background-position: -148px -62px;}

.rank li.n6 i { background-position: -163px -62px;}

.rank li.n7 i { background-position: -178px -62px;}

.rank li.n8 i { background-position: -193px -62px;}

.rank li.n9 i { background-position: -208px -62px;}

.rank li.n10 i { background-position: -223px -62px;}

.hotcomm h2{border-bottom:#333 2px solid; font-size:14px; line-height:40px; height:40px; color:#383734}

.hotcomm ul{ list-style-type:none; margin-top:10px}

.hotcomm ul li a{ display:block; color:#525252; padding-left:30px;cursor:pointer; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:36px; height:36px; overflow:hidden }

.hotcomm ul li a:hover{ text-decoration:underline; color:#F00}



.qun{background: #f16e50;

color: #fff;

line-height: 40px;

text-align: center;

margin: 10px 0;

 -webkit-animation:'flipInX' 1s ease 1s backwards;

 -moz-animation:'flipInX' 1s ease 1s backwards;

 -ms-animation:'flipInX' 1s ease 1s backwards;

 -0-animation:'flipInX' 1s ease 1s backwards;

 animation:'flipInX' 1s ease 1s backwards;





}

@-webkit-keyframes flipInX {

    0% {

        -webkit-transform: perspective(400px) rotateX(90deg);

        opacity: 0;

    }

    

    40% {

        -webkit-transform: perspective(400px) rotateX(-10deg);

    }

    

    70% {

        -webkit-transform: perspective(400px) rotateX(10deg);

    }

    

    100% {

        -webkit-transform: perspective(400px) rotateX(0deg);

        opacity: 1;

    }

}

@-moz-keyframes flipInX {

    0% {

        -moz-transform: perspective(400px) rotateX(90deg);

        opacity: 0;

    }

    

    40% {

        -moz-transform: perspective(400px) rotateX(-10deg);

    }

    

    70% {

        -moz-transform: perspective(400px) rotateX(10deg);

    }

    

    100% {

        -moz-transform: perspective(400px) rotateX(0deg);

        opacity: 1;

    }

}

@-ms-keyframes flipInX {

    0% {

        -ms-transform: perspective(400px) rotateX(90deg);

        opacity: 0;

    }

    

    40% {

        -ms-transform: perspective(400px) rotateX(-10deg);

    }

    

    70% {

        -ms-transform: perspective(400px) rotateX(10deg);

    }

    

    100% {

        -ms-transform: perspective(400px) rotateX(0deg);

        opacity: 1;

    }

}

@-o-keyframes flipInX {

    0% {

        -o-transform: perspective(400px) rotateX(90deg);

        opacity: 0;

    }

    

    40% {

        -o-transform: perspective(400px) rotateX(-10deg);

    }

    

    70% {

        -o-transform: perspective(400px) rotateX(10deg);

    }

    

    100% {

        -o-transform: perspective(400px) rotateX(0deg);

        opacity: 1;

    }

}

@keyframes flipInX {

    0% {

        transform: perspective(400px) rotateX(90deg);

        opacity: 0;

    }

    

    40% {

        transform: perspective(400px) rotateX(-10deg);

    }

    

    70% {

        transform: perspective(400px) rotateX(10deg);

    }

    

    100% {

        transform: perspective(400px) rotateX(0deg);

        opacity: 1;

    }

}





.template li:nth-child(1){

 -webkit-animation:'fadeInRight' 2s 1;

 -moz-animation:'fadeInRight' 2s 1;

 -ms-animation:'fadeInRight' 2s 1;

 -0-animation:'fadeInRight' 2s 1;

 animation:'fadeInRight' 2s 1;

 }

.template li:nth-child(2){

 -webkit-animation:'fadeInRight' 3s 1; 

 -moz-animation:'fadeInRight' 3s 1;

 -ms-animation:'fadeInRight' 3s 1;

 -0-animation:'fadeInRight' 3s 1;

 animation:'fadeInRight' 3s 1;

 }

.template li:nth-child(3){

 -webkit-animation:'fadeInRight' 4s 1; 

 -moz-animation:'fadeInRight' 4s 1;

 -ms-animation:'fadeInRight' 4s 1;

 -0-animation:'fadeInRight' 4s 1;

 animation:'fadeInRight' 4s 1;

 }

.template li:nth-child(4){

 -webkit-animation:'fadeInRight' 5s 1; 

 -moz-animation:'fadeInRight' 5s 1;

 -ms-animation:'fadeInRight' 5s 1;

 -0-animation:'fadeInRight' 5s 1;

 animation:'fadeInRight' 5s 1;

 }



@-webkit-keyframes fadeInRight {

    0% {

        opacity: 0;

        -webkit-transform: translateX(20px);

    }

    

    100% {

        opacity: 1;

        -webkit-transform: translateX(0);

    }

}



@-moz-keyframes fadeInRight {

    0% {

        opacity: 0;

        -moz-transform: translateX(20px);

    }

    

    100% {

        opacity: 1;

        -moz-transform: translateX(0);

    }

}



@-ms-keyframes fadeInRight {

    0% {

        opacity: 0;

        -ms-transform: translateX(20px);

    }

    

    100% {

        opacity: 1;

        -ms-transform: translateX(0);

    }

}



@-o-keyframes fadeInRight {

    0% {

        opacity: 0;

        -o-transform: translateX(20px);

    }

    

    100% {

        opacity: 1;

        -o-transform: translateX(0);

    }

}



@keyframes fadeInRight {

    0% {

        opacity: 0;

        transform: translateX(20px);

    }

    

    100% {

        opacity: 1;

        transform: translateX(0);

    }

}